.body {
  margin: 0px;
}
.navbar-container {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  display: inline;
}

@media (min-width: 481px) {
  .left-navbar {
    margin-left: 20px;
  }
  .right-navbar {
    margin-right: 20px;
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 481px) {
  .navbar-container {
    justify-content: center;
    background-color: aquamarine;
  }
  .right-navbar {
    display: none;
  }
}
